@page "/LudoGame/NewGame"
@model NewGamePlusModel
@section Styles {
    <link rel="stylesheet" href="~/css/NewGame.css" />
}
@{
    ViewData["Title"] = "New Game";
}
@* Player amount selection *@
@if (Model.PlayerCount <= 0)
{
    <form method="post">
        <h2>How many players?</h2>
        <div>
            @for (int i = 2; i < 5; i++)
            {
                <input type="radio" id="@("playerCount"+i)" name="playerCount" value="@i" required>
                <label for="@("playerCount"+i)" class="circleLabel numberSelection">@i</label>
            }
        </div>
        <input type="submit" value="Next">
    </form>
}

@if (Model.Players.Count < Model.PlayerCount)
{
    <form method="post">
        <h2>Player @(Model.CurrentPlayer)</h2>
        Name: <input name="playerName" minlength="1"/>
              <div>
                  @foreach (var index in Model.GetAvailableColorIndixes())
                  {
                      <input type="radio" id="@("color" +index)" name="colorId" value="@(Model.Colors[index].Id)" required>
                      <label for="@("color" +index)" class="circleLabel" style="background-color: @("#"+Model.Colors[index].ColorCode)"></label>
                  }
              </div>
        <input type="submit" value="Next"/>
    </form>
}