@page "/LudoGame/NewGame"
@model NewGamePlusModel
@section Styles {
    <link rel="stylesheet" href="~/css/NewGame.css" />
}
@{
}
@* Player amount selection *@
@if (Model.PlayerCount <= 0)
{
    <form method="post">
        <p>How many players?</p>
        @for (int i = 2; i < 5; i++)
        {
            <input type="radio" id="@("playerCount"+i)" name="playerCount" value="@i" required>
            <label for="@("playerCount"+i)">@i</label><br>
        }
        <input type="submit" value="Submit">
    </form>
}

@if (Model.Players.Count < Model.PlayerCount)
{
    <form method="post">
        <h2>Player @(Model.CurrentPlayer)</h2>
        Name: <input name="playerName" minlength="1"/><br />

        @foreach (var index in Model.GetAvailableColorIndixes())
        {
            <input type="radio" id="@("color" +index)" name="colorId" value="@(Model.Colors[index].Id)" required>
            <label for="@("color" +index)" style="font-weight: bold; color: @("#"+Model.Colors[index].ColorCode)">@Model.ColorNames[index]</label>
        }
        <br />
        <input type="submit" />
    </form>
}